@model PalmzealotReports.Web.Models.FormListViewModel

@{
    ViewData["Title"] = "Form List";
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Form</th>
            <th class="text-end">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (FormListItemViewModel form in Model.Forms)
        {
            <tr>
                <td>@form.Name</td>
                <td class="text-end">
                    <div class="d-grid gap-1 d-md-block">
                        <a class="btn btn-primary" target="_blank" href="@form.EditLink">Edit Form</a>
                        <a class="btn btn-primary" target="_blank" href="@form.ResponderLink">Fill Out Form</a>
                        <a class="btn btn-primary" target="_blank" asp-controller="Print" asp-action="Index" asp-route-id="@form.Id">Print Signin Sheet</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

